@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  margin:0;
  padding:0;
  border:0;
}
.body-custom {
  background-color:rgb(70, 75, 121);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family:Raleway;
}
.main {
  margin-top:2%;
  background-color:#FFF;
  padding-bottom:50px;
  width:65%;
}
form .input-group .input-group-addon {
  position: relative;
  top:4px;
  padding:1.5%;
}
form .input-group {
  background-color:#ccc;
  border-radius:5px;
}
form .input-group .input-group-addon {
  position: relative;
  top:4px;
  padding:1.5%;
}
form .input-group {
  background-color:#ccc;
  border-radius:5px;
}

ul {
  background-color:#fff;
}
.tablita {
  max-width:70%;
  margin-top:50px;
  text-align:center;
  margin: auto;
}
#nombre {
  font-weight:300;
}
td,th, tr {
  margin:auto;
  text-align:center;
}
#redondeo { border-radius:10px; }

.btnmails-mails{color:#fff;background-color:#000;border-color:#2e6da4}
.btnmails-mails.focus,.btnmails-mails:focus{color:#fff;background-color:#286090;border-color:#122b40}
.btnmails-mails:hover{color:#fff;background-color:#286090;border-color:#204d74}
.btnmails{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

.btnmails {
  margin:10px;
  padding:3px 50px 3px 50px;
}
.h3-mails {
  font-weight:500;
  margin-bottom:10px;
  font-family:'Raleway';
}
.validate-mails {
  width:96%;
  padding:2%;
  background-color:#fff;
}
.thead-dark {
  padding:20px !important;
}
table.mails {
  width:100%;
  padding:5%;
  background-color:#ccc;
  color:rgb(70, 75, 121);
  overflow:hidden !important;
}
table.mails thead {
  padding:20px !important;
}
.textomails {
  font-size:1em !important;
}
textarea {
  font-size:1em !important;
  padding:3px;
}
